<h2 class="index-heading">投稿一覧</h2>

<div class="list-wrap">

  <% @lists.each do |list| %>
    <div class="list-box">
      
      <div class="list-comment">
        <span class="list-title"><%= link_to list.title, list_path(list.id) %></span>
        <span class="list-body"><%= link_to list.body, list_path(list.id) %></span>
      </div>
      
      <div class="list-image">
        <%= image_tag list.image, size: "200x200" %>
      </div>
      
    </div>
  <% end %>
  
</div>